<h1>Contacts#create</h1>
<div>
  Because the controller method rendering this view sets the local
  variable @name we can access it within the view!
</div>
<p>thank you for contacting us <%= @name %> </p>

